<div class="align-content-center contenedor">    
<br><br>
    <div id="form">
        <form id="formRegistro">
            <h1>Miembro Registro</h1>
            <label for="fid">ID de ingreso:</label>
            <input type="text" id="fid" class="input-width input-margin" name="fid"><br><br>
            <label for="lpssw">Contraseña:</label>
            <input type="text" class="input-width input-margin" id="lpssw" name="lpssw"><br><br>
            <label for="lpssw2">Repita la Contraseña:</label>
            <input type="text" id="lpssw2" class="input-width input-margin" name="lpssw2"><br><br><br>
            <label for="lemail">E-Mail:</label>
            <input type="text" id="lemail" class="input-width input-margin" name="lemail"><br><br>
            <label for="lemail2">Repita E-Mail:</label>
            <input type="text" id="lemail2" class="input-width input-margin" name="lemail2"><br><br>
            <label for="lsi">Recibir Promociones:</label>
            <input type="radio" class="input-margin" id="lsi" name="resp">Si
            <input type="radio" class="input-margin" id="lno" name="resp">No<br><br><br><br>
            <label for="lnombre">Apellido y Nombre:</label>
            <input type="text" id="lnombre" class="input-width input-margin" name="lnombre"><br><br>
            <label for="lgenero">Genero:</label>
            <input type="radio" class="input-margin" id="lmas" name="gen">Masculino
            <input type="radio" class="input-margin" id="lfem" name="gen">Femenino
            <input type="radio" class="input-margin" id="lotro" name="gen">Otro<br><br><br>
            <label for="lfecha">Fecha de Nacimiento:</label>
            <input type="date" id="lfecha" class="input-width input-margin" name="lfecha"><br><br><br>
            <label for="lpais">Pais:</label>
            <input list="Pais" id="lpais" class="input-width input-margin" name="lpais"><br><br>
            <datalist id="Pais">
                <option value="Argentina">
                <option value="Bolivia">
                <option value="Chile">
                <option value="Brazil">
                <option value="Uruguay">
              </datalist>
            
            <input type="button" class="button-green" value="Enviar">       
            <input type="button" class="button-red" value="Cancelar">  
        </form>
    </div>
</div>