<div class="he">
    <img src="./assets/Imagenes/logo.gif" class="gif">
            <div id="texto" class="texto">
                <h1 class="header-title"> OBRA SOCIAL</h1>
                <p class="header-sub-title">Siempre cerca tuyo</p>
            </div>

            <nav>
                <li>
                    <style></style>
                    <a [routerLink]="['Punto 1']">Home</a>
                    <a [routerLink]="['Punto 2']">Registrese</a>
                    <a [routerLink]="['Punto 3']">Galeria</a>
                </li>
            </nav>

</div>